nav#nav_mobile {
  padding-inline: 2rem;
  padding-block: 2.1rem;

  .nav_container {
    display: flex;
    justify-content: center;
    position: relative;

    // HAMBURGER MENU
    button {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-40%);
      img {
        height: 2.25rem;
        width: auto;
      }
    }
  }
}

@media (min-width: 1026px) {
  nav#nav_mobile {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  nav#nav_mobile {
    display: block;
  }
}
